# Ignore large directories
Data/archive/Data/
Data/archive/ETFs/
Data/archive/Stocks/
Data/archive/serviceaccount.json

# Ignore other unnecessary files
*.log
*.tmp
"Data/archive/serviceaccount.json" 
